<footer>
    <div class="f-info row">
        <div class="Site-info col-6 mt-3">
            <a class="f-brand mt-2 mb-2 f-margin" href="#"><i class="fa-regular fa-compass f-logo"></i>Hikee</a>
            <p class="f-margin ">
                A small Airbnb-like web app (Express + EJS + MongoDB) used as a learning project. This website
                contains the server, views (EJS), static assets and example data used to build and list short-term
                rental listings and reviews.
            </p>
            <div class="f-info-socials f-margin">
                <i class="fa-brands fa-square-linkedin"></i>
                <i class="fa-brands fa-square-github"></i>
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-facebook"></i>
            </div>
        </div>
        <div class="f-info-sitemap col-2 mt-3">
            <ul class="no-bullets">
                <h6>Sitemap</h6>
                <li><a class="foot-link" href="/listings">Explore</a></li>
                <li><a class="foot-link" href="/listings/new">Add Listings</a></li>
                <li><a class="foot-link" href="/login">Login</a></li>
                <li><a class="foot-link" href="/signup">Signup</a></li>
            </ul>
        </div>
        <div class="f-info-links col-2 mt-3">
            <ul class="no-bullets">
                <h6>Legals</h6>
                <li><a class="foot-link" href="/license">License</a></li>
                <li><a class="foot-link" href="/terms">Terms of service</a></li>
                <li><a class="foot-link" href="/privacy">Privacy Policy</a></li>
                <li><a class="foot-link" href="/refunds">Refunds</a></li>
            </ul>
        </div>
        <div class="f-info-brand text-center">&copy; Made with &hearts; by Satyam Kushwaha </div>
    </div>
</footer>