<footer>
    <div class="f-info d-flex">
        <div class="f-info-socials mt-3">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
        <div class="f-info-brand mt-3">&copy; Hikee Private Limited </div>
        <div class="f-info-text">Made with &hearts; by Satyam Kushwaha </div>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Privacy</a>
            <a href="#">Privacy</a>
            <a href="#">Privacy</a>
        </div>
    </div>
</footer>