body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: #fff;
}

.navbar-brand {
    color: #ff385c !important;
    margin: 2.5rem;
}

.navbar-brand i {
    font-size: x-large;
}

.search-bar{
    border: none !important;
    background-color: inherit !important;
}

.search-bar:focus{
    box-shadow: none !important;
    background-color: inherit !important;
}

input:focus{
    box-shadow: none !important;
    border-radius: 2rem;
}

.search-button{
    font-size: small !important;
    border-radius: 50% !important;
    padding: 0.5rem !important;
}

.search-container {
    border: 2px solid #ffd1d1;
    border-radius: 2rem;
    padding: 0.3rem;
    background-color: #ffd1d1 !important;
}

.search-container:hover {
    border: 2px solid #ffd1d1;
    background-color: transparent !important;
}

select{
    text-align: end !important;
    background-color: inherit !important;
    padding: 0 !important;
    width: auto !important;
    border: none !important;
}

select:hover{
    cursor: pointer;
}

select option{
    text-align: end !important;
}
select:focus{
    box-shadow: none !important;
}

.drop-down {
    text-align: center;
    align-self: center;
    margin: 0 !important;
    font-size: smaller;
}

.navbar-toggler{
    border: none !important;
    font-size: inherit !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

  
/* footer */

.f-info {
    background-color: #cfcfcf;
}

.row{
    margin: 0 !important;
}

.f-brand{
    font-size: 1.5rem !important;
    color: #ff385c;
    text-decoration: none !important;
}

.f-margin {
    margin-left: 2.5rem;
}

.f-logo{
    margin-right: 1rem;
}

.fa-brands{
    opacity: 0.7;
    font-size: larger;
}

.fa-brands:hover{
    opacity: 1;
    transform: scale(1.1);
    animation: transform 1s ease-in-out;
    cursor: pointer;
}

.fa-square-linkedin:hover{
    color: #0a66c2;
}

.fa-square-instagram:hover{
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-square-facebook:hover{
    color: #1877F2;
}

.no-bullets {
  list-style-type: none;
}

.foot-link{
    color: rgba(0, 0, 0, 0.65);
    text-decoration: none;
}

.foot-link:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

/* Show Page */
.show-img {
    height: 50vh;
}

.btns {
    display: flex;
}

.card {
    padding: 0 !important;
}

#map {
    width: 100%;
    height: 400px;
}

/* Index Page */

#filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filterOption {
    text-align: center;
    margin-right: 0.5rem;
    opacity: 0.7;
}

.filterOption div i{
    color: #ff385c;
}

.filterOption:hover,
.filterOption:focus{
    opacity: 1;
    cursor: pointer;
    border-bottom: 2px solid #ff385c;
    transition: border-bottom 0.1s ease-in-out;
}

.filterOption p {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 0.8rem;
    color: black;
}

.filterOption a{
    text-decoration: none;
}

.tax-info {
    display: none;
}

.toggle-tax {
    border: 1px solid rgba(98, 98, 98, 0.57);
    border-radius: 2rem;
    height: 3.5rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
}

/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.listing-link {
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: #fff;
}
@media (max-width: 766px) {
/* Navbar */
  .navbar{
    height: 7rem;
    padding-top: 0 !important;
  }

  .container-fluid{
    height: none;
  }

  .navbar-collapse {
    background: #fff;
    padding: 1rem;
  }
  .navbar-nav .nav-link {
    text-align: center;
  }
  .search-container {
    width: 100%;
    justify-content: center;
    margin: 0.5rem 0;
  }
  form.d-flex {
    align-items: center;
  }
  .nav-link{
    padding: 0 !important;
    margin: 0.5rem;
  }
  .search-container {
    height: 3rem;
    display: flex;
  }

  .toggle-tax{
    display: none;
  }

  .filterOption{
    margin-bottom: 0.5rem;
  }

}